<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookingHotel"
        tools:targetApi="31">
        <activity
            android:name="com.btl.bookingHotel.component.activity.CompleteBookingActivity"
            android:exported="false" />
        <activity
            android:name="com.btl.bookingHotel.component.activity.SelectedRoomActivity"
            android:exported="false" />
        <activity
            android:name="com.btl.bookingHotel.OptionActivity"
            android:exported="false" />
        <activity
            android:name="com.btl.bookingHotel.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.btl.bookingHotel.PointActivity"
            android:exported="false" />
        <activity
            android:name="com.btl.bookingHotel.component.activity.CommentActivity"
            android:exported="false" />
        <activity
            android:name="com.btl.bookingHotel.component.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.btl.bookingHotel.component.activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.btl.bookingHotel.component.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.btl.bookingHotel.component.activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name="com.btl.bookingHotel.component.activity.RatingActivity"
            android:exported="false" />
        <activity
            android:name="com.btl.bookingHotel.component.activity.DetailActivity"
            android:exported="false" />
        <activity
            android:name="com.btl.bookingHotel.component.activity.SearchActivity"
            android:exported="false" />
    </application>

</manifest>